@using MudBlazor

<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Game Store</span>
    </div>
</nav>

@* <MudAppBar Color="Color.Surface" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.Gamepad" Color="Color.Inherit" Edge="Edge.False" />
    <h4>Game Store</h4>
    <MudSpacer />

    <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />
</MudAppBar> *@


@* <h3>NavMenu</h3>

@code {

} *@
